<div class="container mt-4">
    <div class="row">
        <h1 class="capitalize">{{user.username}}'s profile</h1>
      </div>
    <div class="row">
    <div class="col-sm-4">

      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../assets/user.jpeg'}}" alt="{{user.username}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last updated:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Registered:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
          <div>
            <strong>Wealth:</strong>
            <p>{{user.introduction}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Update</button>
            <button class="btn btn-success w-100">Asset</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About">
            <h4>Free text 1</h4>
            <p>{{user.interests}}</p>
            <h4>Free text 2</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Overview">
              <h4>Chart</h4>
              <p>{{user.introduction}}</p>
          </tab>
          <tab heading="Data vault">
              <h4>Documents</h4>
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <h4>Notifications</h4>
            <p>Bank, broker ... notifications</p>
          </tab>
          <tab heading="Accounts">
            <h4>Transactions</h4>
            <p>Payments, income ...</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>